@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #1f2233;
  color: #fff;
  position: relative;
  height: 100dvh;
}

@layer utilities {
  .content-width {
    width: clamp(12.5rem, 90vw, 62.5rem);
  }

  .container-config {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-1 {
    font-size: 1.5625rem;
    font-weight: 900;
  }

  .title-2 {
    font-size: 1.5625rem;
    font-weight: 600;
  }

  .title-3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .border-bottom {
    border-bottom: solid 4px #0284c7;
    padding-bottom: 3px;
  }
}
